*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.first-page, .second-page, .third-page {
    display: flex;
}
.f-p-first-content, .s-p-first-content, .t-p-first-content {
    width: 50%;
}
.f-p-header, .s-p-header, .t-p-header {
    width: 100%;
    height: 84px;
    background-color:#7025FB;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.f-p-title, .s-p-title, .t-p-title {
    font-size: 23px;
    color:#FFFFFF;
    padding:0 10px ;
}
.f-p-logo-img, .s-p-logo-img, .t-p-logo-img {
    padding: 0 0 0 60px;
  
}
.f-p-cover-img, .s-p-cover-img, .t-p-cover-img {
    width: 100%;
}
/* f-p-second content */
.f-p-second-content {
    background-color: #FD5334;
    width: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 85px;
}
.f-p-sec-cont-descr {
    height: 70%;
    display:flex;
    justify-content: space-around;
    flex-direction: column
}
.f-p-sec-cont-tittle {
    font-family: 'Nunito', sans-serif;
    font-weight: 800px;
    line-height: 109px;
    display: flex;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.f-p-about {
    text-decoration: none;
    color:#212529;
    font-size: 20px;
    padding: 0 20px
}
.start-btn {
    cursor: pointer;
    width: 191px;
    height:53px;
    border-radius: 8px;
    background-color:#212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.start-btn a ,
.s-p-next-btn {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 20px;
    text-decoration: none;
}

/* The first page ended and the second started */

.s-p-cover-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-p-cover-text h3 {
    font-family: 'Nunito';
    color: #212529;
    font-size:26px;
    text-transform: uppercase;
    font-style: italic;
    line-height: 35px;
    width: 450px;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.s-p-cover-text p {
    font-family: 'Nunito', sans-serif;
    width: 450px;
    font-size: 24px;
    color: #E5E6E8;
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}
  .s-p-content {
    padding:20px 30px;
  }
  .s-p-content p {
    font-size: 16px;
    color: #212529;
  }
  .line {
    width: 100%;
    height: 0.3px;
    background-color: rgba(185, 180, 195, 0.3);
    margin: 25px 0px;
    padding: 0 30px;
  }

  .counter-inf-exper {
    padding: 50px 0;
    width: 330px;
  }
  .numbs-inf-exper {
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .numbs-inf-exper .line {
    width: 174px;
    height: 0.2px;
    color: #B9B4C3;
  }
  .pers-expe-inf {
    display: flex;
    justify-content: space-between;
  }
  .pers-info-tittle {
    font-size: 32px;
    padding:20px 0;
  }
  .basic-inf{
    padding-bottom: 100px;
  }

  /* started form */
  .form-control {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
  }
  .form-control input {
    width: 698px;
    border: 0;
    border-bottom: 1px solid rgb(234, 232, 232);
    outline: 0;
    height: 40px;
    padding: 5px 10px;
    margin: 10px 5px; 
    font-size: 24px;
  }
  .form-control input:focus {
    outline: 0;
    border-color: #777;
  }
  .form-control.success input {
    border-bottom:solid #080f0b;
  }
  .form-control.error input {
    background-color: #ffe4e1;
  }
  .form-control.success i.fa-check-circle {
    color: #101111;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }
  /* form icon */
  .icons {
    visibility: hidden;
    position: absolute;
    margin-top:10px ;
    background-color: #3BAF77;
    font-size: 20px;
    border-radius: 50%;
  }
  .s-p-buttons {
    width: 100%;
    display:flex;
    justify-content: space-between;
    position: relative;
  }
  .s-p-back-btn {
    border-radius: 8px;
    background-color: #ffffff;
    width: 70px;
    height:53px;
    border: 1px solid #3b3737;
    display: grid;
    place-items: center;
  }
  .s-p-back-btn  {
    text-decoration: none;
    font-size: 20px;
  }
  .s-p-next-btn {
    cursor: pointer;
    width: 128px;
    height:53px;
    border-radius: 8px;
    background-color:#212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}
.s-p-next-btn a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}


/* ended second page */

.t-page-cont {
  width: 50%;
  padding: 30px;
}

.t-p-cover-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-p-cover-text h3 {
  font-family: 'Nunito';
  color: #212529;
  font-size:26px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 35px;
  width: 615px;
  line-height: 50px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  text-align: right;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.t-p-cover-text p {
  font-family: 'Nunito', sans-serif;
  width: 615px;
  font-size: 24px;
  color: #093F68;
  text-transform: uppercase;
  font-style: italic;
  position: absolute;
  text-align: right;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
}


.t-p-select {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.t-p-select select {
  outline:none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(248, 235, 235);
  padding: 0 110px 0 0;
}
option {
  border: none;
}

.t-p-champ {
  padding: 200px 0 0 0;
}

.t-p-radio-btn{
  margin: 20px 0 100px 0;
  width: 300px;
  display:flex;
}
label{
  padding:0 15px;
}


.t-p-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0 0;
}
.t-p-done-btn {
  cursor: pointer;
  width: 100px;
  height:53px;
  border-radius: 8px;
  background-color:#212529;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-p-done-btn a {
  color: white;
  text-decoration: none;
  font-size:24px;
}

/* finish page */
#finish-page-sec-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color:#ffffff;
  font-size: 36px;
}